@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

body {
  background-color: black;
  color: white;
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
  padding: 0 40px;
  font: 16px 'Open Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'IBM Plex Mono', monospace;
}

p {
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
}

form {
  margin-top: 25px;
  margin-bottom: 25px;
}

hr {
  border-color: #00171F;
  width: 400px;
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
  border: 1px solid #fff;
  color: #2C3238;
}

input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-content {
  z-index: 10;
}

.title-image {
  max-width: 100%;
  width: 500px;
  box-shadow: 0px 0px 40px 20px #000;
  margin-bottom: 20px;
}

.description {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.paragraph-number {
  color: black;
  max-width: 80px;
  margin: 0;
  margin-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 37px;
  transition: box-shadow 1s;
}

.paragraph-number:focus {
  box-shadow: 0px 0px 50px 5px white;
}

.generate-button,
.copy-button {
  font-family: 'IBM Plex Mono', monospace;
  border-width: 0px;
  padding: 6px 12px;
  background-color: white;
  color: black;
  transition: background-color 45ms, color 1s, box-shadow 1s;
  font-weight: 600;
}

.generate-button:hover,
.copy-button:hover,
.generate-button:focus,
.copy-button:focus {
  background-color: #000;
  color: white;
  box-shadow: 0px 0px 50px 5px white;
  outline: none;
}

.copy-button {
  display: inline-block;
  text-decoration: none;
  margin-top: -20px;
}

.generated-text {
  padding: 20px;
  color: white;
  background-color: black;
  line-height: 1.4;
  opacity: .87;
  margin-top: 6rem;
  margin-bottom: 40px;
}

.generated-text p {
  font-size: 16px;
  text-align: left;
  animation: fadein 2s;
}

.generated-text p:first-child {
  margin-top: 0;
}

.generated-text p:last-child {
  margin-bottom: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#copyOverlay {
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  left: 0;
  height: 100vh;
  z-index: 100;
}

#copyText {
  margin-top: 40vh;
}

#copyText p {
  font-size: 30px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  color: #fff;
}

/* Let's make text fade-in and move up a little on load */

.logo {
  animation: TextFade 1.5s .25s forwards cubic-bezier(0.2,0.8, 0.2, 1);
}

.intro-title {
  animation: TextFade 2s .25s forwards cubic-bezier(0.2,0.8, 0.2, 1);
}

.intro-text {
  animation: TextFade 3s .25s forwards cubic-bezier(0.2,0.8, 0.2, 1);
  line-height: 1.4;
}

@keyframes TextFade {
  0% {
    opacity: 0;
    transform: translateY(2rem)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}